# Hide some OS X stuff
.DS_Store
.AppleDouble
.LSOverride
Icon

# Logs
*.log

# Python env stuff
env

# Workspace settings
.vscode 

# Thumbnails
._*

# GITHUB Proposed Python stuff:
*.py[cod]


# Packages
*.egg
*.egg-info
dist
build
eggs
.eggs

