include README.md LICENSE
include steamlink/steamlink.yaml.sample
include steamlink/html/static
include steamlink/html/static/*
include steamlink/html/templates
include steamlink/html/templates/*
recursive-exclude * *.py[co] __pycache__ *.swp *.yaml
