<div class="twelve columns">
    <style>
        .alert-partial.partial:hover {
            cursor: pointer;   
        }
        .close-icon {
            float: right;
            color: black;
            padding-right: 5px;
        }
    </style>
    <div class="alert-partial partial" id="{{ partial_item.name }}" style="display:none">
        <div class="alert-msg" style="display:inline-block"></div>
        <a class="alert-partial close-icon" style="display:inline-block" ></a>
   </div>
</div>

<script type="text/javascript">
    $(function () {
        
        var alertWrapper = $('#{{ partial_item.name }}');
        var alertElement =  $('#{{ partial_item.name }} > .alert-msg')[0];
        var alertCloseElement = $('#{{ partial_item.name }} > a')[0];
        
        socket.on("{{ partial_item.name }}", function (msg) {
            if (msg.display_vals) {
                if(msg.display_vals.msg) {
                    alertElement.innerHTML = msg.display_vals.msg;
                }
                alertCloseElement.innerHTML = "[ ✕ ]"; 
                if(msg.display_vals.color) {
                    $(alertWrapper).css({"background-color": msg.display_vals.color})
                }   
                $(alertWrapper).show();
            }
        });
        $(alertCloseElement).click(function(){
            $(alertWrapper).hide();
        });
    });
</script>