<div class="{{ partial_item.grid_columns }} columns">
    <style>
        .tile-partial > ul {
            list-style: none;
        }
        .tile-partial.partial:hover {
            background: #F7F7F5;
            cursor: pointer;   
        }
    </style>
    <h4 class="tile-partial partial-heading">
        {{ partial_item.title }}
    </h4>
    <div class="tile-partial partial" id="{{ partial_item.name }}" style="overflow: scroll; height: {{ partial_item.grid_rows * 50}}px;">
   </div>
</div>

<script type="text/javascript">
    $(function () {

        var tileDiv = $('#{{ partial_item.name }}');

        var streamConfig = {
            record_type: '{{ partial_item.record_type }}',
            start_key: 1, // TODO: update from params
            key_field: '{{ partial_item.key_field }}',
            count: '{{ partial_item.count|tojson|safe }}',
            end_key: '{{ partial_item.end_key }}',
            return_children: '{{ partial_item.return_children|tojson|safe }}',
            stream_tag: "{{ partial_item.stream_tag }}",
            force: '{{ partial_item.force|tojson|safe }}'
        };

        var tileStream = new Stream(socket, streamConfig, (data) => {
            console.log("adding to tile: ");
            console.log(data);
            var innerHTML = "<ul>";
            for (key in data) {
                innerHTML += "<li> <strong>" + key + ": </strong><em>" + data.key+ "</em></li>";
            }
            innerHTML += "</ul>";
        }); 
        tileStream.startStream();
    });
</script>