<div class="{{ partial_item.grid_columns }} columns">
    <style>
        .tile-partial > ul {
            list-style: none;
        }
        .tile-partial.partial:hover {
            background: #F7F7F5;
            cursor: pointer;   
        }
        /*
        .tile-partial > ul > li {
            margin-bottom: 0rem;
        }*/
    </style>
    <h4 class="tile-partial partial-heading">
        {{ partial_item.title }}
    </h4>
    <div class="tile-partial partial" id="{{ partial_item.name }}" style="overflow: scroll; height: {{ partial_item.grid_rows * 50}}px;">
   </div>
</div>

<script type="text/javascript">
    $(function () {

        var tileDiv = $('#{{ partial_item.name }}')[0];

        var streamConfig = {
            record_type: {{ partial_item.record_type|tojson|safe }},
            start_key: {{ partial_item.start_key|tojson|safe }},
            key_field: {{ partial_item.key_field|tojson|safe }},
            count: {{ partial_item.count|tojson|safe }},
            end_key: {{ partial_item.end_key|tojson|safe }},
            return_children: {{ partial_item.return_children|tojson|safe }},
            stream_tag: {{ partial_item.stream_tag|tojson|safe }},
            force: {{ partial_item.force|tojson|safe }}
        };

        var tileStream = new Stream(socket, streamConfig, (data) => {
            var innerHTML = "<ul>";
            for (var key in data) {
                innerHTML += "<li> <strong>" + key + ": </strong><em>" + data[key]+ "</em></li>";
            }
            innerHTML += "</ul>";
            tileDiv.innerHTML = innerHTML;
        }); 
        tileStream.startStream();
    });
</script>