.dashboard > .container > .row > .columns {
    margin-bottom: 2em;
}

.partial {
    border-radius: 0px;
    border: 2px solid #eee;
    padding: 8px;
}

.page-title {
    color:#008080;
}

.logo-image {
    text-align: center;
    max-width: 50px;
    width: 100%;
    height: auto;
}

.hero {
    background-color: #F7F7F5;
    width: 100%;
}

a {
    text-decoration: none;
}

.alert-partial.partial:hover {
    cursor: pointer;   
}
.close-icon {
    float: right;
    color: black;
    padding-right: 5px;
}

.navbar {
    background-color: black;
    width:100%;
    margin-bottom: 2rem;
}

.navbar-item {
    margin-top: 1rem;
    color: white;
    border: none;
}

tbody > tr:nth-child(even) {background: white}
tbody > tr:nth-child(odd) {background: #eee}

tr > td,th {
    line-height: 1em;
    padding-top: 6px;
    padding-bottom: 6px;
}

.table-partial > table > tbody > tr:hover { 
    background: #F7F7F5;
    cursor: pointer;
}