<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello Bulma!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    </head>
    <body>
        <div id="app">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="https://steamlink.net">
                        <img src="logo.png" alt="steamlink: simplified LoRa communications" width="112" height="28">
                    </a>
                    
                    <button class="button navbar-burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </nav
                     
            <!-- HEADER -->
            <section class="hero is-info">
                <div class="hero-body">
                    <div class="container">
                        <ul v-for="(value, key) in header.display_vals">
                            <li>
                                <strong> {{key}} </strong>: {{value}}
                            </li>
                        </ul>
                            
                    </div>
                </div>
            </section>     

            <!-- TILES -->
            <section class="section">
                <div class="container">
                    <tiler :tiles="tiles" :tiles-per-row="tilesPerRow" v-on:select="swap"></tiler>
                </div>
            </section>
        </div>
            
        <!-- VUE TILE ITEM TEMPLATE -->
        <script id="tiletemplate" type="text/x-template">
            <div class="tile is-parent" v-on:click="clicked">
                <article class="tile is-child box">
                    <table class="table">
                        <tbody>
                            <tr v-for="(value, key) in display_vals">
                                <td>
                                    <strong> {{key}} </strong>
                                </td>
                                <td>
                                    {{value}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </div>
        </script>

        <!-- VUE TILER TEMPLATE -->
        <script id="tilertemplate" type="text/x-template">
            <div>
                <div v-for="row in rows" class="tile is-ancestor">
                    <tileitem v-for="tile in filteredTilesByRow(row)" :key="tile.id" :display_vals='tile.display_vals' :id="tile.id" v-on:select="select"></tileitem>
                </div>
            </div>
        </script>


        <!-- JAVASCRIPT LIBRARIES -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.11/vue.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>

        <script src="main.js"></script>
    </body>
</html>
